{% load static %}
<script src="{% static 'dist/vendors/js/jquery.min.js' %}"><script>
<script src="{% static 'dist/vendors/js/popper.min.js' %}"></script>
<script src="{% static 'dist/vendors/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dist/vendors/js/pace.min.js' %}"></script>
<script src="{% static 'dist/js/app.js' %}"></script>
<script src="{% static 'dist/js/views/main.js' %}"></script>
<script src="{% static 'custom.js' %}"></script>
{% block script %}

{% endblock %}